.MenuBtn {
  margin-right: 20%;
  margin-left: auto;
}

.buttonRow {
  display: flex;
  flex-direction: row;
}

.innerRow {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
}

.Footer {
  box-shadow: 50vw;
}


html {
  background-color: #194d33;
  /* color: white; */
}

.editorArea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}